.nav-bar {
    background-color: #128990;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    height: 80px;
    padding-left: 2em;
    padding-right: 2em
}

.nav-bar .logo {
    width: 70px;
    height: 70px;
    float: left;
    margin-top: 0.5em;
}

.nav-bar .header {
    padding: 15px;
    float: left;
    font-size: 50px;
    color: #eafeff;
    font-weight: bold
}

.nav-bar .compose-bttn {
    color: #128990;
    font-size: 20px;
    width: 130px;
    height: 50px;
    background-color: #97bfc1;
    float: right;
    margin: 0.75em;
    text-align: center;
    border: 2px solid #244751;
    border-radius: 5px;
    padding: 0.5em;
}

#bttn-hover {
    color: #244751;
    background-color: #eafeff;
    border: 2px solid #244751;
}