#nav-bar {
    background-color: #00a087;
    color: #e8fdff;
    font-size: 40px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    height: 80px;
    padding-left: 2em;
    padding-right: 2em
}

#nav-bar .logo {
    border-style: none;
    /*margin-top: 10px;*/
    width: 80px;
    height: 80px;
    float: left;
    position: relative;
    vertical-align: bottom;
}

#nav-bar .header {
    padding-left: 10px;
    position: relative;
    /*top: 30px;*/
    text-align: bottom;
    float: left;
    line-height: 80px;
}

