.nav-bar {
    background-color: #00a087;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    height: 80px;
    padding-left: 2em;
    padding-right: 2em
}

.nav-bar .logo {
    border-style: none;
    width: 80px;
    height: 80px;
    float: left;
    position: relative;
    vertical-align: bottom;
}

.nav-bar .header {
    padding-left: 10px;
    position: relative;
    text-align: bottom;
    float: left;
    line-height: 80px;
    font-size: 40px;
    color: #e8fdff;
}

.nav-bar .compose-bttn {
    color: #00a087;
    font-size: 20px;
    width: 100px;
    height: 50px;
    background-color: #c1efe7;
    float: right;
    margin: 0.5em;
    text-align: center;
    border: 2px solid #244751;
    border-radius: 5px;
    padding: 0.5em;
}

#bttn-hover {
    color: #244751;
    background-color: #e8fdff;
    border: 2px solid #244751;
    /*vertical-align: middle:*/
}