.new-tweet {
  margin-bottom: 2em;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 5px;
  background-color: #eee;
}

.compose {
  font-size: 26px;
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 0.5em
}

.new-tweet textarea {
  width: 100%;
  padding: 5px;
  overflow-y: scroll;
}

.counter {
  float: right;
  font-style: italic;
  font-size: 15px;
  padding-top: 3px;
}

.over-char-limit, .error {
  color: red;
}